
body {
	font-family: 'Open Sans', sans-serif;
	color: #353535;
	direction: rtl;
}
.container{
      
}
.content{
		/*width:100%;*/
		  width: 1200px;
        /*margin-right: 2%!important;*/
}
.content h1 {
	text-align: center;
}
.content .content-footer p {
	color: #6d6d6d;
    font-size: 12px;
    text-align: center;
}
.content .content-footer p a {
	color: inherit;
	font-weight: bold;
}

/*	--------------------------------------------------
	:: Table Filter
	-------------------------------------------------- */
.panel {
	border: 1px solid #ddd;
	background-color: #fcfcfc;
}
.panel  {
	width: 130%;
	margin-right: 2px!important;

}


.panel{
	transition: background-color .3s ease;
}
.pull-left{
	width: 200px;
	height: 150px;
}
td{
	width:10%;
}
.table-filter {
	background-color: #fff;
	border-bottom: 1px solid #eee;
}
.table-filter tbody tr:hover {
	cursor: pointer;
	background-color: #eee;
}
.table-filter tbody tr td {
	padding: 10px;
	vertical-align: middle;
	border-top-color: #eee;
}
.table-filter tbody tr.selected td {
	background-color: #eee;
}
.table-filter tr td:first-child {
	width: 83px;
}
.table-filter tr td:nth-child(2) {
	width: 50px;
}

.table-filter .media-photo {
	width: 100px;
	height: 90px;


}
.table-filter .media-body {
    display: block;
   
}
.table-filter .media-meta {
	font-size: 11px;
	color: #999;
}
.table-filter .media .title {
	color: #2BBCDE;
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
	margin: 0;
}
.table-filter .media .title span {
	font-size: .8em;
	margin-right: 20px;
}

.container {
        width: 1200px;
}
.col-md-8{
	 float: right;

}
@media (min-width: 992px) {
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: right;
} }

@media(max-width: 600px){
	.panel  {
	width: 100%;
	margin-right: 2px!important;

}

}
