*{ direction: rtl;
	}
	button{
		font-size: 22px!important;
		width: 80px;
		height: 46px;
		direction: rtl;

	}
	.con{

	background-color:#e0e0d1;
	padding-right: 22px;
	padding-left: auto;
	height: 70px;
	width: 95%;
	padding-top:1%;
	margin-right: auto;
        margin-left: auto;
 border: 2px solid #ccccb3;
  border-radius: 15px;
	margin-bottom: 2%;
}
.in 
{
        float: right;
		margin-right: 9px;
        height: 60px;
}
  select{
    text-align-last:center;
     width:120px; 
     padding:15px 5px;
     font-weight: bold;
  margin-left: 10px;
  border-radius: 0;
  font-size: 18px;
       

  }
  input{
  	width: 190px;
  	margin-left: 10px;
  	height: 40px;
  	font-size: 22px;
        font-weight: bold;
        padding-right: 5px;

  }/*
  @media(max-width: 400px){
	input {
        font-size: 22px;
        width: 300px;
        margin-left: 20px;
        height: 60px;
        font-weight: bold;
}
  select{
    text-align-last:center;
     width:160px; 
     padding:15px 5px;
     font-weight: bold;
  margin-left: 20px;
  border-radius: 0;
  font-size: 22px;
        font-weight: bold;

  }

}
*/

@media screen and (max-width: 992px)
{
		.con{
	background-color:#e0e0d1;
	padding-right: auto;
	padding-left: auto;
	height: 140px;
	width: 95%;
	margin-bottom: 1%;
	 border: 2px solid #ccccb3;
  border-radius: 15px;
}
	.in {
		float: right;
		 width: 28%;
		  margin-left:5px;
        height: 50px;


	}
	.im{ width: 28%;
		  margin-left:5px;
        height: 40px;
		margin-right: auto;
		margin-left: auto;

	}
	button{
		margin-top: 12px;
		font-size: 18px!important;
		width: 80px;
		height: 30px;
		direction: rtl;

	}
	input {
		width:95%;
        font-size: 15px!important;
        font-weight: bold;
        
}
  select{

    text-align-last:center;
    width:95%;
     font-size: 15px!important;
     font-weight: bold;
  border-radius: 0;
         


  }
  	
  form{
  	text-align: center;
  }
body {
text-align: center;}


}


